.box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    top: 10vh;
    left: 15vw;
    justify-content: center;
    background-color: rgb(184, 126, 126);
}
.unit{
    height: 110px;
    width: 110px;
    background-color: rgb(39, 4, 4);
    margin: 0.5vw;
    /* flex-grow: 1;
    flex-shrink: 3; */
}
.unit:hover
{
    opacity: 0.9;
}
.counter {
    position: absolute;
    top: 1vw;
    left: 25vw;
    display: flex;
    border: 10px solid black;
    border-radius: 20px;
    justify-content: center;
    width: 37vw;
    font-size: 2vw;
}
.clicked
{
    background-color: rgb(238, 66, 66);
}